include dash_file_dialog_components/dash_file_dialog_components.min.js
include dash_file_dialog_components/dash_file_dialog_components.dev.js
include dash_file_dialog_components/metadata.json
include dash_file_dialog_components/package.json
include README.md
